body{
   background-color: aquamarine;
   background-image:url(../IMG_1793.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   height: 100vh;
   width: 100vw;
   
}
.images{
  width: 100%;
  display: flex;
  justify-content: center;
  
    }

#cub{
  position: absolute;
  width: 100px; 
  height: 150px;
  animation: left-to-right 3s ease-in infinite alternate;
} 
  @keyframes left-to-right{
    from{
      right:500px
      
    }
    to{right: 800px}
    }
  

p{
  text-align: center;
  bottom: 50px;

}
h1{
  text-align: center;
  bottom: 50px;
}

#button-1{
  width: 100px;
  height: 35px;
  background-color: rgb(240, 169, 87);
}
  
#button-2 {
  width: 100px;
  height: 25px;
  background-color: rgb(82, 194, 238);

}
#button-3{
  width: 100px;
  height: 25px;
  background-color: rgb(82, 194, 238);
  
}
#button-4{
  width: 100px;
  height: 25px;
  background-color: rgb(82, 194, 238);
}

.all-divs{
  display: flex;
  flex-direction: column;
  justify-content: center;
 align-items: center;
}